*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* regole debug */
[class*="col-"] {
  height: 100%;
  /* background-color: pink; */
  /* border: 1px solid blue */
}

/* .row{
  height: 100px
} */

/* regole sezione fixed menu */

.fixed-menu{
  background-color: white;
  padding: 1% 10%;
}


.login{
  text-align: right;
}

.main-nav li{
  display: inline-block;
  margin-right: 3%;
}

#logo{
  max-width: 50%;
  height: auto
}

/* sezione jumbotron */
.jumbotron{
  background-color: #0069ff;
  padding: 1% 0;
  margin: 0 5%
}

.sfondo{
  background-color: #0069ff;
}

.jumbotron h1, .jumbotron p{
  color: white
}

.deploy{
  background-color: white;
  text-align: center;
}

/* sezione brand */

.brand{
  background-color: #f3f5f9;
}
