*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

h3{
  text-align: center;
}

i{
  font-size: 10px;
  margin-left: 1%
}

/* regole debug */
[class*="col-"] {
  height: 100%;
}


/* regole sezione fixed menu */


/* NAVBAR */
#logo-nav{
    height: 100%;
    width: auto;
}

#button-nav{
    color: #006AFF;
    border: 1px solid #006AFF;
    border-radius: 5px;
    line-height: 0;
    margin-top: 11%;
}


.navbar-default{
    background-image: none;
    background-color: white;
    border: none;
    border:none;
    box-shadow: none;
}

.navbar-default .navbar-header{
  margin: 0 6.5%;
}

.navbar-right{
  margin-right: 6%;
}

.navbar-default .navbar-nav>li>a {
    color: #000;
}

#logo{
  max-width: 60%;
  height: auto;
}



/* sezione jumbotron */
.jumbotron{
  background-color: #0b0b88;
  margin: 0 auto;
  background-image: url("https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg");
  background-size: cover;
  background-position: center;
  margin-top: 2%;
}

.account{
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    color: white;
    background-color: #006AFF;
    border: none;
    border-radius: 5px;
}

.google{
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    padding: 2% 0;
}

#sign{
  color: grey;
  font-size: 1.2rem;
}

.jumbotron h1, .jumbotron p{
  color: white
}

.jumbotron p{
  font-size: 1.8rem
}

.jumbotron h1{
  line-height: 57px;
  font-size: 3.5em;
  font-weight: bold;
}

.jumbotron input{
  padding: 1% 0;
  padding-right: 60%;
}

.jumbotron h4{
  color: blue;
  font-size: 2.5rem
}

.deploy{
  background-color: white;
  text-align: center;
  margin-top: 6%;
  margin-right: 20%;
  border-radius: 5px
}

/* sezione brand */

.brand{
  background-color: #f3f5f9;
  padding: 3% 0;
}

.brand img{
  padding-right: 2.5%
}

.brand span, .brand a{
  font-weight: bold
}

/* sezione deployments */

.deployments{
  padding: 2% 0
}

.deployments ul{
  border-left: 1px solid blue;
  padding-left: 3%;
}

.deployments li{
  list-style-type: none;
  font-size: 15px;
  padding: 5px 0;
  color: #6f7b97;
}

.deployments p{
  font-size: 1.3rem
}

.deployments h6{
  font-size: 1.4rem;
  font-weight: bold;
}

#process{
  text-align: center;
  margin-bottom: 2%
}

.space{
  margin-right: 25%
}


/* sezione carousel */

.carousel{
  background-color: #f3f5f9;
  padding: 2% 0
}

.carousel img{
  max-width: 50%;
  height: auto;
  padding-bottom: 2%;
}

.carousel p{
  padding: 2% 0;
  margin-top: 2%;
}

.carousel i{
  font-size: 4rem;
  padding: 0 2%;
  color: grey;
}


/* sezione features */

.features{
  padding: 2% 4%;
}

.features h6{
  font-size: 1.4rem;
  font-weight: bold;
  padding-bottom: 2%
}

.features h3{
  padding-bottom: 2%;
}

/* sezione tabella */

.tabella{
  background-color: #0b0b88;
  color: white;
  padding: 2% 0;
}

.allinea{
  margin-left: 6%
}

.tabella h3{
  padding-bottom: 2%;
}

table{
  width: 75%;
  margin-bottom: 3%
}

table a{
  margin-left: 35%;
  color: hsl(170, 100%, 35%);
  font-weight: bold;
}

.tabella1{
  margin-left: 12%
}


tr:not(:last-child){
  border-bottom: 1px solid white;
  border-radius: 10px;
  line-height: 2;
  border-width: thin;
}

.codice{
  border-bottom: 1px solid white;
  weight: 80%
}

/* sezione get starded */

.get-started{
  background-color: #0b0b88;
  color: white;
  padding: 3% 0;
}

.button-start{
    color: #006AFF;
    border: 1px solid #006AFF;
    padding: 1% 2%;
    border-radius: 5px;
    margin-top: 2%;
    font-weight: bold;
}

/* footer */

.servizi{
  background-color: hsl(221, 93%, 16%);
  padding: 2% 6%;
}

.icone-social i{
  color: lightgrey;
  margin-right: 2%;
  font-size: 20px
}

#mark{
  margin-bottom: 2%
}

.copyright{
  color: lightgrey;
  font-size: 1.3rem;
}

.made-ny{
  color: grey;
  font-size: 1.3rem;
  margin-bottom: 3%;
}

.servizi h6{
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
}

.servizi li{
  list-style-type: none;
}

.servizi a{
    color: lightgrey;
}


/* regole responsiveness */


/* schermo xs */
@media screen and (min-width: 767px) {
  .deploy{
    background-color: white;
    text-align: center;
    margin: 0 auto;
    border-radius: 5px;
    padding: 7% 0;
  }

  .jumbotron h1{
    line-height: 40px;
    padding-top: 11%;
  }


  table{
    width: 75%;
    margin-bottom: 3%
  }

  table a{
    margin-left: 0;
    color: hsl(170, 100%, 35%);
    font-weight: bold;
  }

  .tabella1{
    margin-left: none
  }

}

/* schermo sm */
@media screen and (max-width: 768px) {
  .deploy{
    background-color: white;
    text-align: center;
    margin-top: 20%;
    margin-right: 2%;
    border-radius: 5px;
    padding: 7% 0;
  }

  .jumbotron h1, .jumbotron p{
    line-height: 30px;
    padding-top: 11%
  }
}
